body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
}
.profile-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    border: 5px solid white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    display: block;
    margin: 0 auto 20px auto;
}

header {
    background: #111827;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
}

header h1 {
    margin-top: 20px;
    font-size: 36px;
}

header h2 {
    color: #60a5fa;
}

header p {
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    background: #2563eb;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 10px;
}

section {
    width: 85%;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
}

section h2 {
    text-align: center;
    color: #111827;
    margin-bottom: 20px;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.skills-box span {
    background: #e0ecff;
    color: #1e40af;
    padding: 10px 16px;
    border-radius: 20px;
    font-weight: bold;
}

.project-card {
    background: #f9fafb;
    padding: 20px;
    margin: 25px 0;
    border-left: 5px solid #2563eb;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin-bottom: 15px;
    border-radius: 10px;
}

#contact a {
    color: #2563eb;
    font-weight: bold;
}

footer {
    text-align: center;
    background: #111827;
    color: white;
    padding: 15px;
}
#contact a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    color: red;
}
